<!-- _includes/projects.html -->
<div class="grid-sizer"></div>
<div class="grid-row">
  {% if project.redirect -%}
  <a href="{{ project.redirect }}">
    {%- else -%}
    <a href="{{ project.url | relative_url }}">
      {%- endif %}
      <div class="card hoverable">
        {%- if project.img %}
        {%- include figure.html
          path=project.img
          alt="project thumbnail" -%}
        {%- endif -%}
        <div class="card">
          <div class="card-body" style="display: flex; flex-direction: column;">            <div class="card-header" style="font-size: 32px;">{{ project.title }}</div>
            <p class="card-text">{{ project.description }}</p>
            {%- if project.content -%}
              <p class="card-text">{{ project.content }}</p>
            {%- endif -%}
          </div>
        </div>
      </div>
    </a>
  </div>